.advantages{
    margin-bottom: 60px;
    margin-top: 50px;
    .advantages_row{
        align-items: stretch;
        width: 100%;
        flex: 0 0 auto;
        justify-content: space-between;
        .adv_item{
            width: calc(33.33% - 20px);
            flex: 0 0 auto;
            overflow: hidden;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0.5;
                z-index: 1;
                background-color: #000000;
            }
            &:hover{
                .item_bg{
                    img{
                        transform: scale(1.3);
                    }
                }
            }
            .item_bg{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .3s all ease;
                }
            }
            .item_title{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                margin: auto;
                bottom: 100px;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 50px;
                font-weight: 500;
                z-index: 10;
                font-family: "Unbounded";
                color: #fff;
                @media (max-width: 1599px) {
                    font-size: 35px;
                }
                @media (max-width: 1199px) {
                    font-size: 30px;
                }
            }
        }
    }
}