.hero{
    position: relative;
    margin-bottom: 150px;
    .hero_bg{
        left: 0;
        top: 90px;
        width: 100%;
        height: max-content;
        position: absolute;
        @media (max-width: 1599px) {
            height: 100%;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .hero_con{
        position: relative;
        z-index: 10;
    }
    h2{
        color: #fd3950;
        font-weight: bold;
        font-family: "Polonium Bold";
        font-size: 120px;
        letter-spacing: 5px;
        margin-bottom: 50px;
        margin-top: 20px;
        @media (max-width: 1599px) {
            font-size: 90px;
        }
        @media (max-width: 1199px) {
            font-size: 55px;
        }
    }
    .hero_row{
        align-items: end;
        justify-content: space-between;
        .l_side{
            width: 100%;
            max-width: 500px;
            .info{
                display: flex;
                flex-direction: column;
                gap: 25px 0;
                li{
                    color: #ffffff;
                    font-weight: 500;
                    font-family: "Unbounded";
                    font-size: 24px;
                    padding: 15px;
                    position: relative;
                    z-index: 1;
                    @media (max-width: 1599px) {
                        font-size: 20px;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        opacity: 0.5;
                        background-color: #1e1e1e;
                        z-index: -1;
                    }
                }
            }
        }
        .r_side{
            padding: 15px;
            background-color: #fd3950;
            color: #000000;
            font-family: "Nokia Kokia RU SB YL YA JK A";
            font-size: 28px;
            font-weight: 500;
            letter-spacing: 2px;
            font-style: italic;
            @media (max-width: 1599px) {
                font-size: 20px;
            }
            img{
                width: 60px;
            }
        }
    }
    .buttons{
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 50px;
        justify-content: space-between;
        a{
            height: 80px;
            width: calc(50% - 10px);
            flex: 0 0 auto;
            text-align: center;
            color: #ffffff;
            font-weight: bold;
            font-family: "Polonium Bold";
            font-size: 30px;    
            display: flex;
            align-items: center;
            justify-content: center;
            // letter-spacing: 5px;
            &.red_btn{
                background-color: #fd3950;
                @media (max-width: 1599px) {
                    font-size: 18px;
                }
                @media (max-width: 1199px) {
                    width: calc(35% - 10px);
                }
            }
            &.white_btn{
                height: 90px;
                background-color: transparent;
                border: 10px solid white;
                @media (max-width: 1599px) {
                    font-size: 25px;
                }
                @media (max-width: 1199px) {
                    width: calc(65% - 10px);
                }
            }
        }
    }
}